* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato;
}

.header {
    background: #222222;
    color: white;
      
}
.container {
    max-width: 1160px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    text-decoration: none;
    margin-right: 41px;
}
.header__item:not(:last-child) {
    margin-right: 33px;
}
.promo {
    background: #F1E4E6;
    height: 764px;
}
.promo__title {
    max-width: 407px;
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
}
.promo__wrap {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    background: url('./img/man.png') no-repeat -228px;
}
.promo__decor {
    color: red;
    font-size: 30px;
    line-height: 58px;


}
.text__decor {
    font-size: 50px;
}
.promotext__decor {
    font-family: Lato;
    font-size: 30px;
     
}
.category {
    margin-top: 65px;
}
.category__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 180px;
    filter: brightness(40%);
}
.category__item:not(:last-child) {
    width: 360px;
    height: 260px;
    margin: 0 0 30px 0;
}
.for__women {
    background: url(./img/for__women.png);
}
.for__men {
    background: url(./img/for__men.png);
}
.for__kids {
    background: url(./img/for__kids.png);
}
.ACCESORIES {
    background: url(./img/ACCESORIES.png);
}
.category__decor {
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;

}
.category__text {
    color: #F16D7F;

}
.fetured {
    margin-top: 96px;
}
.header__fetured {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fetured_titel {
    font-size: 35px;
    color: #222222;
    
}
.fetured__text {
    font-size: 20px;
    color: #9F9F9F;
}
.fetured__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
    margin-top: 57px;
}
.fetured__items {
    width: 360px;
    margin: 0 0 30px 0;
    background: #F8F8F8;
}
.item__text {
    width: 314px;
    padding-left: 16px;
    

}
.fetured__ellery {
    font-size: 15px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;

}
.featured__known {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px;

}
.fetured__biil {
    font-size: 20px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;

}
.pic_centr {
    padding-left: 100px;
    margin-bottom: 20px;
}
.fetured__botum {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.botum__dekor {
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 220px;
    height: 50px;
    border: 1px solid #FF6A6A;
}
.botum__text {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;

}
.delivery {
    margin-top: 95px;
    background: #222224;
    height: 350px;

}
.dilivery__wrap {
    display: flex;
    justify-content: space-between;
}
.delivery__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

  
}
.dilivery__decor {

    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin: 30px auto;

}
.dilivery__text {
    font-size: 16.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    width: 360px;
}
.img_decor {
    
}
.Subscribe {
    background-image: url(./img/Subscribe_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    
}
.Subscribe__wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;


}
.Subscribe_left {
    background-image: url(./img/sub_women.png);
    background-repeat: no-repeat;
    background-position: top 70px left 125px;
    height: 500px;
}
.sub__text {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;

}
.Subscribe_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub__info {
    text-align: center;
    font-size: 24px;
    color: #222224;


}
.sub__decor {
    margin-top: 10px;
}
.form__decor {
    width: 100%;
}
.form__input {
    height: 50px;
    width: 79%;
    font-size: 15px;
    color: #222224;
    margin-top: 32px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


}
.form__submit {
    height: 50px;
    font-size: 15px;
    color: #FFFFFF;
    background: #F16D7F;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  
}
.footer {
    height: 80px;
    background: #222224;
    
}
.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.footer__left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_text {
    font-size: 16px;
    color: #FBFBFB;
    text-align: center;
    

}
.footer__right {
    display: flex;

}
.footer__item {
    background: #FFFFFF;
   
}
.footer__item:not(:last-child) {
     margin: 0 30px 0 0;
}
.ikon {
    font-size: 30px;
    color:black;
    border: solid 2px white;
}

.a__dekor {
    text-decoration: none;
}
.ikon:hover {
   color: #F16D7F; 
}

