.registrasion {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    & form {
        width: 350px;
        input {
            font-size: 13px;
            line-height: 16px;
            color: #222222;
            padding: 12px 200px 15px 16px;
            margin-top: 20px;

        }
        h4 {
            font-size: 16px;
            line-height: 19px;
            color: #222222;
 
        }
        p {
            width: 360px;
            margin-top: 16px;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;

        }
        button {
            margin-top: 40px;
            padding: 20px 90px;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            background: #F16D7F;
            margin-bottom: 96px;
        }
        & .radio {
            margin: 30px 30px 30px 0;
        }
        & .label {
            margin-right: 30px;
        }
        & i {
            font-size: 20px;
            margin-left: 15px;
        }
    }
    &__text {
        width: 650px;
        & li {
            list-style-type: none;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin-top: 30px;
            width: 650px;

        }
        & h4 {
            font-size: 24px;
            line-height: 29px;
            color: #000000;

        }
        & h6 {
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin-top: 20px;
            

        }
        
    }
}