.slaider {
    width: 100%;
    margin-top: 10px;
    position: relative;
    z-index: 2;
    height: 1400px;
    &__img {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
        height: 777px;
        background: #F7F7F7;
        & button {
            background: rgba(42, 42, 42, 0.15);
		    color: #fff;
		    padding: 15px;
            & i {
                color: #000000;
                font-size: 30px;
            }
            i:hover {
             color:#F16D7F;
            }
        }
    }
    &__form {
        width: 1140px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #EAEAEA;
        position: absolute;
        top: 720px;
        left: 350px;
        z-index: 1;
        background: #FFFFFF;
        & h5 {
            font-size: 14px;
            line-height: 17px;
            color: #F16D7F;
            margin-top: 65px;
        }
        & .decor {
            width: 65px;
            border: solid 1px #F16D7F;
            margin-top: 12px;
        }
        & h4 {
            font-size: 18px;
            line-height: 22px;
            color: #4D4D4D;
            margin-top: 12px;

        }
        & p {
            width: 550px;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #5E5E5E;
            margin-top: 50px;

        }
        & strong {
            font-size: 24px;
            line-height: 29px;
            color: #EF5B70;
            margin-top: 32px;

        }
        & hr {
            margin-top: 65px;
            width: 640px;
            border: 1px solid #EAEAEA;
        }
        & .centr {
            margin-top: 65px;
        }
        & .card__btn {
            background: #FFFFFF;
            border: 1px solid #FF6A6A;
            color: #FF6A6A;
            font-size: 16px;
            line-height: 19px;
            margin-top: 30px;
            

        }

    }
}